@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  display: flex;

  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 30px;
}
.form_container {
  display: flex;
  width: 30%;
  padding: 10px;
  height: 50%;
  justify-content: center;
  background-color: #dfe4ea;
  flex-direction: column;
}
.form_container p {
  font-size: 2rem;
  color: #2f3542;
  margin: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  height: 50px;
  margin: 10px;
  border: 1px solid #747d8c;
  font-size: larger;
  background-color: #ffffff;
  display: block;
  color: #2f3542;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: #747d8c;
  border: 1px solid #747d8c;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  margin: 5px;
  transition: transform 150ms, box-shadow 150ms;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.button1 {
  background-color: #747d8c;
  border: 1px solid #747d8c;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  margin: 5px;
  transition: transform 150ms, box-shadow 150ms;
}

.button1:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
@media screen and (max-width: 488px) {
  body{
      padding: 0;
  }
    .form_container {
      width: 100%;
    }
    .form_container p {
      font-size: 1rem;
    }
    .form input {
      height: 30px;
      margin: 10px;
      border: 1px solid #747d8c;
      font-size: small;
    }
    .button,.button1{
      font-size: smaller;
      padding:5px
    }
  }
  @media screen and (max-width: 768px) {
      .form_container {
        width: 50%;
      }
      .form_container p {
        font-size: 1.2rem;
      }
    }
  
    @media screen and (max-width:1024px) {
      .form_container {
        width: 50%;
      }
      .form_container p {
        font-size: 1.2rem;
      }
    }
