<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form_container">
        <div class="title">
            <p>Login Form</p>
        </div>
        <Form class="form" [formGroup]="formGroup" (ngSubmit)="LoginProces()" >
            <input type="email" placeholder="Username" formControlName="username" >
            <input type="password" placeholder="Password" formControlName="password">
            <button class="button"type="submit" >Login</button>    
            <button class="button1" routerLink="/register">Register</button>    
         </Form>
    </div>
</body>
</html>